.conquest {
    @include section-position;
    @extend %section-size;

    &__content>.container {
        display: flex;
        column-gap: $grid-gap;
        align-items: flex-start;

        @media screen and (max-width: $breakpoint-lg) {
            flex-direction: column;
            row-gap: $grid-gap;
        }
    }

    &__header {
        display: flex;
        flex-direction: column;

        row-gap: $grid-gap;
    }

    &__rovers {
        display: flex;
        flex-direction: row;
        column-gap: $grid-gap * 2;

        @media screen and (max-width: $breakpoint-md) {
            display: grid;
            grid-auto-flow: row;
            grid-template-columns: repeat(2, 1fr);
            gap: $grid-gap;
        }
    }

    &__rover {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: $grid-gap;

        span {
            @include adaptive-style(font-size, $section-small-font-size, $section-small-font-size-mobile)
        }
    }

    &__background {
        background: url("../img/section-3-bg.svg") bottom center / 100% no-repeat,
            $section-gradient;
    }

    &__rover-img,
    &__alien-img {
        position: absolute;
    }

    &__rover-img {
        $width: 475 / 1920 * 100dvw;
        $aspect-ratio: 475 / 419;

        // width: min($width, $height * $aspect-ratio);
        // height: min($height, $width / $aspect-ratio);

        width: $width;
        aspect-ratio: $aspect-ratio;

        bottom: calc((1dvh + 1dvw) * 2);
        left: 40vw;

        transform-origin: bottom center;
        transform: rotateY(180deg);
    }

    &__alien-img {
        $width: 397 / 1920 * 100dvw;
        $aspect-ratio: 397 / 503;

        width: $width;
        aspect-ratio: $aspect-ratio;

        bottom: calc((1dvh + 1dvw) * 2);
        left: 10vw;
        
        transform-origin: bottom;
    }
}