.proffessions {
    background-color: $background-darker;

    .container {
        display: flex;
        flex-direction: column;
        row-gap: $grid-gap;
    }

    &__title {
        @include adaptive-style(font-size, $section-title-font-size, $section-title-font-size-mobile);

        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: $grid-gap;

        white-space: nowrap;

        @media screen and (max-width: $breakpoint-xl) {
            flex-direction: column;
        }

        @media screen and (max-width: $breakpoint-md) {
            margin-top: $grid-gap * 3;
        }
    }

    &__types {
        @include adaptive-style(height, $section-title-font-size, $section-title-font-size-mobile);

        overflow: hidden;
        flex: 0 0 auto;
    }

    &__type {
        @include adaptive-style(font-size, $section-title-font-size, $section-title-font-size-mobile);
        @include adaptive-style(line-height, $section-title-font-size, $section-title-font-size-mobile);

        text-align: right;

        color: $accent-color;

        animation: move-up 4s linear 0s infinite;

        @media screen and (max-width: $breakpoint-xl) {
            text-align: center;
        }
    }

    &__card {
        position: relative;

        user-select: none;

        hyphens: auto;


        &.swiper-slide {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

            aspect-ratio: 340 / 456;

            scale: 0.9;
            border: 2px solid transparent;

            background-color: $blue;

            transition: scale .2s ease,
                border-color .3s ease, height .5s ease-in-out;

            &-next {
                scale: 1;
                border-color: $white;
            }

            @media screen and (max-width: $breakpoint-md) {
                &-active{
                    border-color: $white;
                }

                &-next {
                    scale: 0.95;
                    border-color: transparent;
                }
            }
        }

        &-img {
            width: 192 / 340 * 100%;
        }

        summary {
            color: $accent-color;

            list-style: none;
            list-style-image: none;
        }

        details[open] {
            min-height: 100%;
            width: 100%;

            position: absolute;
            left: 0;
            // top: 0;
            animation: swip 0.5s ease-in-out both;

            background: $blue;

            padding: 10px;
        }

        details p {
            @media screen and (min-width: 992px)  {
                @include adaptive-style(font-size, $section-text-font-size, 0.5rem, $final-size: 992);
            }
        }
    }
}