.satellite {
    @include section-position;
    @extend %section-size;

    $orbit-size: 617;

    $orbit-template-width: $orbit-size / 1920 * 100dvw;
    $orbit-template-height: $orbit-size / 1080 * 100dvh;
    $orbit-template-aspect-ratio: 1;

    $orbit-width: MIN($orbit-template-width, $orbit-template-height * $orbit-template-aspect-ratio);
    $orbit-height: MIN($orbit-template-height, $orbit-template-width / $orbit-template-aspect-ratio);
    $orbit-aspect-ratio: $orbit-template-aspect-ratio;

    overflow: clip;

    @media screen and ((max-height: $breakpoint-sm) or (min-aspect-ratio: 3 / 2)) {
        & &__content {
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: $grid-gap;
        }

        & &__title, & &__orbit {
            top: auto;
            left: auto;
            transform: none;
        }

        & &__orbit {
            position: relative;
        }
    }

    @media screen and (orientation: portrait) {
        & &__title {
            padding-bottom: calc($orbit-height + $grid-gap * 2);

            position: sticky;
            top: $grid-gap;
        }

        & &__orbit {
            position: sticky;
        }
    }

    &__title {
        @include adaptive-style($property: font-size, $pc-font-size: $section-title-font-size, $mobile-font-size: $section-title-font-size-mobile);

        text-align: center;
        color: $title-second-color;
    }

    &__orbit {
        display: flex;
        justify-content: center;
        align-items: center;

        width: $orbit-width;
        height: $orbit-height;
        aspect-ratio: $orbit-aspect-ratio;

        margin-bottom: $grid-gap;

        border: 2px solid $white;
        border-radius: 50%;

        position: absolute;
        top: calc(50% - $orbit-template-width / 2);
        left: 50%;
        transform: translateX(-50%);
    }

    &__mars {
        width: 410 / 617 * 100%;
    }

    &__phobos,
    &__deimos {
        position: absolute;
    }

    &__phobos {
        @include satellite-settings($name: "Фобос", $satellite-height: 97, $satellite-width: 95, $orbit-height: $orbit-size, $left-position: -38, $bottom-position: 172);

        width: 95 / 617 * 100%;
    }

    &__deimos {
        width: 60 / 617 * 100%;
        @include satellite-settings($name: "Деймос", $satellite-height: 60, $satellite-width: 60, $orbit-height: $orbit-size, $left-position: 125, $bottom-position: -5);
    }

    &__background {
        background-color: $yellow;
    }
}