// Abstracts 
@import "abstracts/variables";
@import "abstracts/functions";
@import "abstracts/extends";
@import "abstracts/mixins";

// Base
@import "base/reset";
@import "base/typography";
@import "base/animations";

// Components
@import "components/nav";
@import "components/container";
@import "components/alien";
@import "components/back-button";
@import "components/form";

// Layouts
@import "layouts/header";

// Pages 
@import "pages/start";
@import "pages/about";
@import "pages/conquest";
@import "pages/satellite";
@import "pages/join";
@import "pages/footer";
@import "pages/proffessions";
@import "pages/quotes";
@import "pages/request";

// Vendors